//output:../index.html

doctype html
html(ng-app="riot-app")
  head
    link(rel='stylesheet', href='scss/main.min.css')
    meta(charset='UTF-8')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js')
    script(src='//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.3.0.js')
    script(src='js/app.js')
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    script(src='js/app.js', type='text/javascript')
    title Riot App
  body.base
    .globalContainer(ng-controller="appCtrl")
      .box.namePlate
        .content
          h1 Thomas Ruehr
          h2 digital designer - UI / UX
          h2 Co-Founder of Kapsuli
      .box.coverLetter
        .decoCornerTopRight
          svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='32.875px', height='42.499px', viewbox='0 0 32.875 42.499', enable-background='new 0 0 32.875 42.499', xml:space='preserve')
            path#interior(fill='#703031', d='M7.175,0C3.035,4.461,0.5,10.433,0.5,16.999c0,13.807,11.193,25,25,25c2.567,0,5.044-0.388,7.375-1.107V0\
            H7.175z')
            path#border(fill='#C67969', d='M25.5,41.499c-13.51,0-24.5-10.991-24.5-24.5C1,10.401,3.626,4.409,7.881,0H6.513\
            C2.467,4.515,0,10.473,0,16.999c0,14.061,11.439,25.5,25.5,25.5c2.564,0,5.039-0.384,7.375-1.092v-1.045\
            C30.546,41.099,28.069,41.499,25.5,41.499z')
          .cornerDecoCircle
      .box.kapsuliIntro 
        p what can I bring to Riot Game right now
      .box.kapsuli
        .playerBox
          .playerSelectorsBox
            .playerContainer
              .player.kapsuliPlayer(ng-show="playerSelectorModel === 'kap'")
                img(src="img/test-player-1.png", alt="")
              .player.lcsPlayer(ng-show="playerSelectorModel === 'lcs'")
                img(src="img/all-star.jpg", alt="")
              .player.allStarPlayer(ng-show="playerSelectorModel === 'star'")
                img(src="img/all-star.jpg", alt="")
            .selectors
              .kap.select(ng-model="playerSelectorModel" uib-btn-radio="'kap'") Kapsuli Player
              .star.select(ng-model="playerSelectorModel" uib-btn-radio="'star'") All Star 2016
              .lcs.select(ng-model="playerSelectorModel" uib-btn-radio="'lcs'") LCS
              
        .contentBox
          h1.title Kapsuli
          .content
            p Founded with two friends an I to help the streaming community. Kapsuli is a social media platform to help twitch broadcaster to build a strong social presence while streaming.  
            p The platform allows you to schedule tweet to be send while you are broadcasting. It also features an embed twitch player directly visible from within twitter.
            .capsuleDescription
              .kapDescription(ng-show="playerSelectorModel === 'kap'")
                h1 kap Player powered by Kapsuli
                p • Api based automated refresh
                p • External links directly in Twitter
                p • promotional space for brand exposure within twitter.
                p • InGame Stats / scheduling
              .lcsDescription(ng-show="playerSelectorModel === 'lcs'")
                h1 LCS Player powered by Kapsuli
                p • Api based automated refresh
                p • External links directly in Twitter
                p • promotional space for brand exposure within twitter.
                p • InGame Stats / scheduling
              .starDescription(ng-show="playerSelectorModel === 'star'")
                h1 star Player powered by Kapsuli
                p • Api based automated refresh
                p • External links directly in Twitter
                p • promotional space for brand exposure within twitter.
                p • InGame Stats / scheduling
          .access
            
      .box.skillsIntro
        p What will I be bringing as a Rioter ?
        
      .box.skills
        .skillSelectors
          .tool.skillselect(ng-model="skillSelectorModel" uib-btn-radio="'tool'") Tools
          .product.skillselect(ng-model="skillSelectorModel" uib-btn-radio="'product'") Product
          .knowledge.skillselect(ng-model="skillSelectorModel" uib-btn-radio="'knowledge'") Knowledge
          .observation.skillselect(ng-model="skillSelectorModel" uib-btn-radio="'observation'") Observation
          .teamwork.skillselect(ng-model="skillSelectorModel" uib-btn-radio="'teamwork'") Teamwork
          
        .skillContent
          .content.tool(ng-show="skillSelectorModel === 'tool'")
            p I am a mechanical player. I can CS well and land clutch skill shots.
            p professional grade mastery of commonly used tool and language used across the creative industry.
            p Ps Ai Ae An Id Sketch HTML5 CSS3 Angular PHP Jade photography 3D
          .content.product(ng-show="skillSelectorModel === 'product'")
            p I know what a product is and how to deal with every aspect of it. 
            p from brainstorming ideas, technical development problem solving, media campaign implications, meeting with community feedback based reviews and modifications entailed by it.
          .content.knowledge(ng-show="skillSelectorModel === 'knowledge'")
            p I have what I would call "critical empathy", I know how to analyse and identify to a targeted audience and discern what can their need may be presently and in the future.
          .content.observation(ng-show="skillSelectorModel === 'observation'")
            p I keep myself informed of the latest design and tech trends to make the best use of current and upcoming innovation in the field I am working in.  
          .content.teamwork(ng-show="skillSelectorModel === 'teamwork'")
            p Although I am very efficient on my own, I work best as part of a unit. 
            p I am highly reliable when push comes to shove and will not hesitate to come to the rescue and make clutching pro flash taunt.
              
      .box.resume
        .content
          p Have a look at what I have done before.
        .accessResume
          
      .box.contact
        .content
          h1 Contact
          h2 Email : mtr.ruehr@gmail.com
          h2 Phone : (xxx) xxx xxxx
      
      .link
        
      //.decoTest 
        //img(src="img/test-deco.svg", alt="")
